.name_page{
    text-align: center;
}
/* news */
.block_news{
    margin: 0 auto 20px auto;
}
.date_news{
    text-align: right;
}
.news_comment{
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0, 0.17);
    padding: 15px 15px 0 15px;
}
.news_comment p{
    padding: 0;
    margin: 0;
}

.date_comment{
    border-bottom: 1px solid rgb(0, 0, 0, 0.17);
    margin-bottom: 8px;
}
.news_other{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.7);
    text-align: center;
}
.news_other p{
    margin-bottom: 15px;
}
.comment_feedback{
    border-top: 1px solid rgb(0, 0, 0, 0.17);
    padding: 7px;
}
/* license */
.user_conditions{
    width: 80%;
    margin: 0 auto;
}
/* feedback */
.feedback{
    width: 100%;
}
.feedback_user{
    width: 80%;
    margin: 0 auto;
}
.card_feedback{
    margin-bottom: 15px;
}
.date_feedback{
    margin-bottom: 0px;
}
.b_feedback{
    width: 100%;
}
/*страница он нас */
.about{
    width: 98%;
    margin: 0 auto;
}
/* страница расписание */
.schedule{
    width: 80%;
    margin: 0 auto;
}
/* страница тренера */
.coach{
    width: 80%;
    margin: 0 auto;
}

